*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    padding: 0 120px;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

.back{
    position: fixed;
    background: #fff;
    color: #000;
    border-radius: 50px;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    /* width: 50px; */
    height: 50px;    
    justify-content: center;
    transition: .2s; 
}

.back i{
    height: 100%;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a{
    text-decoration: none;
}

.back span{
    padding-left: 10px;
    display: none;
    font-weight: 500;
}


.back:hover span{
    display: block;
} 

header{
    background: #000;
    height: 65px;
    color: #fff;
    z-index: 9999;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

nav .left{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo{
    font-size: 1.4rem;
    cursor: pointer;
}

nav .left ul{
    display: flex;
    align-items: center;
    list-style: none;
}

header .left ul  li.active,
header .right li.active{
    background: #333;
}

header .left li{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: .9rem;
    position: relative;
}

header .left li ul.active{
    display: block;
    top: 130%;
    z-index: 999;
}

header .left li ul{
    position: absolute;
    background: #fff;
    color: #555;
    flex-direction: column;
    top: -900%;
    width: 20vw;
    /* z-index: -1; */
    display: none;
    text-transform: capitalize;
    align-items: flex-start;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    border-radius: 2px;
    transition: .1s;
}

header .left li ul li,
header .right .products ul li{
    padding: 8px 20px;
    cursor: pointer;
    transition: .3s;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 0;
}

header .left li ul li:hover,
header .right .products ul li:hover{
    background: rgb(246, 246, 246);
    color: #000;
}

header li{
    padding: 8px 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: .2s;
    text-transform: capitalize;
    list-style: none;
}

header li:hover{
    background: #333;
}

header .right{
    display: flex;
    align-items: center;
    gap: 10px;
}

header .right .products ul{
    position: absolute;
    top: -900%;
    background: #fff;
    color: #333;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    width: 20vw;
    height: 200px;
    transition: .3s;
    display: none;
    overflow-y: scroll;
}

header .right .products ul.active{
    display: block;
    top: 10%;
}

header button{
    padding: 8px 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: .9rem;
}

header button:hover{
    background: #333;
}

header button.active{
    background: #fff;
    color: #111;
    transition: .2s;
}

header button.active:hover{
    background: #d8d6d6;
}

.lang-modal{
    color: #000;
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    padding: 80px;
    transform: translateY(-340px);
    z-index: -1;
    position: absolute;
    transition: .3s;
    top:-100%;
    left: 0;
    width: 100%;
    background: #fff;
}


.lang-modal.active{
    transform: translateY(65px);
    top:0;
    z-index: 999;
}

.lang-modal .close{
    position: absolute;
    font-size: 2rem;
    cursor: pointer;
    right: 30px;
    top: 30px;
    padding: 15px 18px;
    border-radius: 50%;
}

.lang-modal .close:hover{
    background: rgb(243, 243, 243);
}

.lang-modal h1{
    margin-bottom: 80px;
}

.lang-modal .langs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lang-modal .langs div{
    width: 23%;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 4px;
    color: #222;
    transition: .3s;
}

.lang-modal .langs div:hover{
    color: #000;
    background: rgb(243, 243, 243);
    cursor: pointer;
}

.lang-modal .langs div.active{
    background: rgb(234, 231, 231);
}

.openbar{
    display: none;
}

.mobile{
    display: none;
}

/* home section start  */

.home{
    height: calc(100vh - 65px);
    background: url('https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1920,h_805/v1613521692/assets/d9/ce6c00-32b0-4b93-9f0d-6f927d93da08/original/Rider_Home_bg_desktop2x.png') no-repeat 0 0;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 190px;
}

.home.second{
    background: url('https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1899,h_833/v1613521435/assets/bc/0529b6-c37a-416b-9907-2cb44c4c2888/original/Earner_Home_bg_desktop2x.png') no-repeat 0 0;
    background-size: cover;
    background-position: center;
}

.home.third{
    background: url('https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1899,h_778/v1677102595/assets/66/2853af-061f-4176-8c6b-f2ddef091599/original/UberIM_002309-%281%29.jpg') no-repeat 0 0;
        background-position: center;
        background-size: cover;
}

.home .box{
    background: #fff;
    width: 50%;
    border-radius: 2px;
}

.home .top{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    gap: 10px;
    position: relative;
    transition: all .3s;
}

.home .line{
    content: "";
    position: absolute;
    width: 20%;
    height: 4px;
    background: #000;
    border-radius: 4px;
    bottom: 0;
    left: 10%;
    transition: .3s;
}

.home .info-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 1.1rem;
    text-align: center;
    height: 100%;
    cursor: pointer;
}


.home .details{
    padding: 30px;
    transition: .3s;
}

.home .drive{
    padding: 30px;
    transition: .3s;
}

.home .rent{
    padding: 30px;
    transition: .3s;
}

.hide{
    display: none;
}

.home h1{
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.home .field{
    background: rgb(244, 244, 244);
    margin-bottom: 10px;
    height: 45px;
    width: 100%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.home .field i{
    font-size: .7rem;
    color: #877;
}

.home .field i:hover{
    color: #000;
    cursor: pointer;
}

.home input{
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 10px;
    font-size: 1rem;
}

.home .buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.home button{
    margin-top: 30px;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.home button.active{
    background: #000;
    color: #fff;
}

.home button.active:hover{
    background: #000;
    opacity: .8;
}

.home button:hover{
    background: lightgray;
}

.about{
    max-width: max-content;
    cursor: pointer;
    color: #333;
}

.home .drive p{
    margin-bottom: 10px;
}

.about .progress{
    height: 2px;
    background: lightgray;
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
}

.about .progress-bar{
    background: #000;
    width: 0%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    transition: .4s;
}

.about:hover .progress-bar{
    width: 100%;
}


/* Business section start  */

.business{
    background: linear-gradient(lightblue, transparent) ,url('https://images.pexels.com/photos/1534411/pexels-photo-1534411.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat 0 0;
    background-position: center;
    background-size: cover;
    padding: 60px 120px;
}

.business h2{
    font-size: 1.8rem;
    font-weight: 550;
}

.business p{
    margin: 20px 0;
}

.business button{
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    background: #000;
    cursor: pointer;
    transition: .3s;
    color: #fff;
}

.business button:hover{
    opacity: .8;
}

/* ride section start  */

.heading{
    font-size: 2rem;
    font-weight: 550;
    margin: 50px 0;
}

.ride .row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.ride .box{
    display: flex;
    align-items: center;
    width: 45%;
    gap: 10px;
    cursor: pointer;
}

.ride .box .arrow{
    width: 20%;
}

.ride .box i{
    transition: .3s;
    font-size: 1.3rem;
}

.ride .box:hover i{
    margin-left: 25px;
}

.ride .box  h4{
    font-size: 1.5rem;
    font-weight: 550;
}

/* focut section :start  */

.focus{
    margin: 100px 0;
}

.focus .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.focus .row .box{
    width: 49%;
}

.focus img{
    width: 100%;
}

.focus h5{
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin: 15px 0;
}

.focus p{
    font-size: 1rem;
    font-weight: 400;
    color: #555;
    margin: 0;
}

.focus .line{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    color: #444;
}

/* feature section start  */

.feature{
    margin: 50px 0;
}

.feature .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature .box{
    width: 32%;
}

.feature h4{
    font-weight: 500;
    font-size: 1.2rem;
    color: #333;
    margin: 15px 0;
}

.feature p{
    color: #444;
}

.feature .about{
    margin-top: 30px;
}

/* App section start  */

.app{
    background: rgb(238, 238, 238);
    padding: 20px 120px;
    padding-bottom: 50px;
}

.app h2{
    margin: 30px 0;
}

.app .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.app .box{
    width: 48%;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    background: #fff;
    border: .5px solid lightgray;
    padding: 20px;
}

.app .box .content{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.app .box h2{
    font-weight: 600;
}

.app .box i{
    width: 3%;
    transition: .3s;
}

.app .box:hover i{
    margin-left: 15px;
}

/* signup section start  */

.sign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 120px;
}

.sign .box{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 48%;
    font-size: 1.4rem;
    font-weight: 600;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
    transition: .2s;
}

.sign .box:hover{
    border-color: #000;
    cursor: pointer;
}

.sign .box:hover i{
    color: #333;
}

.sign .arrow-box{
    width: 5%;
    overflow: hidden;
}

.sign .arrow{
    display: flex;
    align-items: center;
    transform: translateX(-25px);
    transition: .4s;
    gap: 10px;
}

.sign .box:hover .arrow{
    transform: translateX(5px);
}

.sign .box i{
    flex: 1;
    font-size: 1.2rem;
}

/* footer section start  */
.footer{
    background: #000;
    color: #fff;
    padding: 80px 120px;
}

.footer .help{
    padding: 50px 0;
    width: max-content;
    cursor: pointer;
    border-bottom: 1px solid #000;
}

.footer .help:hover{
    border-bottom: 1px solid #fff;
}

.footer .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
}

.footer .box{
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer .box h4{
    font-weight: 500;
    font-size: 1.1rem;
}

.footer .box li{
    list-style: none;
    transition: .3s;
    cursor: pointer;
    font-size: .9rem;
    width: max-content;
}

.footer .box li:hover{
    color: #555;
    cursor: pointer;
}

.footer .last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    margin-top: 50px;
}

.footer .icons{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer .icons i{
    width: 60px;height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.footer .icons i:hover{
    background: #333;
}

.footer .right span{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    transition: .3s;
}

.footer .right span:hover{
    background: #333;
}

.footer .download-info{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    margin: 10px 0;
}

.footer img{
    width: 150px;
    height: 50px;
}

.footer .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    margin-top: 40px;
    flex-wrap: wrap;
}

.footer .bottom span:hover{
    cursor: pointer;
    color: #555;
    background: none;
}






@media(max-width: 1110px){
    .openbar{
        display: block;
        cursor: pointer;
        padding: 8px 10px;
        border-radius: 50%;
    }
    .openbar:hover{
        background: #333;
    }
    .mobile{
        display: block;
        height: calc(100vh - 65px);
        position: absolute;
        top: 65px;
        background: #fff;
        color: #000;
        width: 100%;
        padding: 0 20px;
        z-index: 999;
        left: 0;
        top: -100%;
        transition: .2s;
    }
    .mobile.active{
        top: 65px;
    }

    .mobile .up{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile .products ul{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 90%;
        color: #111;
        background: #fff;
        align-items: flex-start;
        display: none;
        flex-direction: column;
        padding: 20px;
    }
    .mobile .products  ul.active{
        display: flex;
    }
    .mobile ul li{
        font-size: 1.8rem;
        font-weight: 550;
        
    }
    .mobile li.products li{
        display: flex;
        gap: 20px;
        color: #333;
        align-items: center;
    }
    .mobile ul li:hover{
        background: transparent;
    }
    .mobile ul li ul li{
        font-size: 1rem;
        color: #888;
    }
    .mobile ul li ul{
        font-weight: 500;
        display: none;
        font-size: .8rem;

    }
    .mobile .products{
        display: block;
        margin: 20px 0;
        text-align: center;
        background: rgb(223, 223, 223);
        border-radius: 4px;
        font-size: 1rem;
    }
    .mobile ul li ul.active{
        display: block;
    }
    .lang-modal h1{
        font-size: 1.4rem;
    }
    .mobile .lang{
        display: block;
        font-size: 1rem;
    }
    .lang-modal .langs div{
        width: 100%;
        margin-bottom: 10px;
    }





    header .left ul{
        display: none;
    }
    header .products,
    header .lang{
        display: none;
    }
    .container{
        padding: 0 20px;
    }
    .home{
        align-items: flex-start;
        height: 100vh;
        padding: 0;
        background-position: bottom;
    }
    .home .box{
        height: auto;
        width: 100%;
    }
    .home .box .top{
        width: 50%;
    }
    .home .drive .buttons{
        display: inline-block;
        margin-right: 20px;
    }
    .home .about{
        display: inline-block;
    }
    .business{
        padding: 20px;
    }
    .ride .box{
        width: 100%;
        margin-bottom: 20px;
    }
    .ride .box img{
        height: 90px;
    }
    .ride .box .arrow{
        text-align: center;
        width: 10%;
    }
    .feature .row .box{
        width: 45%;
        margin-bottom: 30px;
    }
    .app{
        padding: 20px;
    }
    .app .row .box{
        width: 100%;
        margin-bottom: 30px;
    }
    .app .row img{
        height: 100px;
    }
    .app .box .content{
        width: 100%;
        justify-content: space-between;
    }
    .sign{
        padding: 20px;
    }
    .footer{
        padding: 80px 20px;
    }
    .footer .row .box{
        width: 48%;
        margin-bottom: 30px;
    }
    .footer .last{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer .last .right{
        flex-direction: column;
        gap: 10px;
    }
}

@media(max-width: 792px){
    .home .box{
        height: auto;
    }
    .home h1{
        font-size: 2rem;
    }
    .home .box .top{
        width: 60%;
    }
    .home .box .details button{
        width: 100%;
        margin-top: 15px;
    }
    .sign h2{
        font-size: 1.7rem;
    }
    .sign .box{
        width: 100%;
    }
}

@media(max-width: 600px){
    .heading{
        font-size: 1.8rem;
    }
    .home .bottom .top .info-box{
        white-space: nowrap
    }
    
    .home .buttons{
        display: block;
    }
    .focus .row .box{
        width: 100%;
        margin-bottom: 40px;
    }
    .focus{
        margin-bottom: 0px;
    }
    .feature{
        margin-top: 10px;
    }
    .feature .row .box{
        width: 100%;
        margin-bottom: 30px;
    }
    .sign{
        padding: 20px;
    }
   
    
    .footer .row .box{
        width: 100%;
        margin-bottom: 50px;
    }
    .footer .icons{
        margin-bottom: 50px;
        width: 100%;
    }
    .footer .last{
        margin: 20px 0;
        margin-bottom: 50px;
    }
    .footer .bottom{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .footer .bottom .right span{
        padding: 0;
    }
}

@media(max-width: 480px){
    .home .box .top{
        width: 100%;
        padding: 10px;
    }
    .sign .arrow-box{
        width: 7%;
    }
}